$backgroundColor: #efefef;
$radius: 40%;

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  textarea {
    width: 400px;
    height: 150px;
  }

  input {
    width: 300px;
    height: 25px;
  }

  label {
    display: flex;
    padding: 10px;
    gap: 10px;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover,
        &.active {
          color: #ccc;
          background: #101010;
          transition: 0.5s;
        }

      }

    }

  }

}